.inputbox {
    margin: 50px auto;
    width: 85%;
    padding: 8px 15px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputbox>input {
    width: 930px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}

.inputbox>input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 18px;
    color: #ABA7A7
}

.inputbox>input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 18px;
    color: #ABA7A7
}

.inputbox>input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 18px;
    color: #ABA7A7
}

.searchbtn1 {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    background: #920909;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 400;
    border: none;
}

.searchbtn2 {
    height: 40px;
    padding: 7px 20px;
    background: #920909;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 400;
    border: none;
}

.bookbtn {
    height: 50px;
    padding: 7px 20px;
    background: #920909;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 400;
    border: none;
}

.gymsbox {
    margin: auto;
    width: 93%;
    display: flex;
    gap: 40px;
    justify-content: space-around;
}

.gymsbox>div:first-child {
    text-align: start;
}

.head1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.head2 {
    font-size: 25px;
}

.gymsbox>div:first-child>select {
    padding: 10px 10px;
    font-size: 18px;
    margin-top: 20px;
    width: 300px;
    background-color: #2E2E2E;
    border: 2px solid #ABA7A7;
    border-radius: 5px;

}

.gymsbox>div:first-child>select>option {

    font-size: 18px;
    width: 300px;
    background-color: #2E2E2E;
}

.gymcon {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.gymcon>.gym {
    padding: 20px;
    display: flex;
    width: 120%;
    height: 300px;
    text-align: center;
    border-radius: 15px;
    background: rgb(46, 46, 46);
    background: linear-gradient(90deg, rgba(46, 46, 46, 1) 41%, rgba(13, 13, 13, 1) 100%);
}

.gym>.empty {
    width: 40%;
}

.gym>.detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}