footer {
    background-color: #080808;
}

.footer {
    margin: auto;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer>.columns:last-child>div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.footer>.columns:last-child>div h4 {
    margin: 0 0 10px 0;
}

.footer>.columns:last-child>div:last-child {
    margin: 5px 0 0px 0;
}

.columns>h3 {
    color: white;
    margin-bottom: 30px;
}

.columns h4 {
    font-weight: 500;
    color: #ABABAB;
    font-size: large;

}

.columns {
    margin: 90px 0;
    text-align: start;
    width: 215px;

}

.columns:first-child {
    text-align: center;
}

.branding {
    margin: 30px 0;
}

.social {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.social>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}