.box {
    margin: auto;
    height: 65px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;

}

.loginbtn {
    padding: 6px 10px;
    background: rgb(142, 26, 26);
    background: linear-gradient(90deg, rgba(142, 26, 26, 1) 0%, rgba(216, 1, 1, 1) 100%);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #ABABAB;
    font-size: 19px;
    font-weight: 400;
}

.logo>img {
    width: 80%;
}



.loginbtn:hover {
    color: white;
    font-weight: 100;
}

.navbtns,
.navbtns>p {
    cursor: pointer;
    text-decoration: none;
    color: #ABABAB;
    font-size: 19px;
}

.navbtns>p:hover {
    color: white;

}

.nav {
    background-color: #0D0D0D;
}

.nav1 {
    background-color: transparent;
}

#position {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.columns {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.columns>.navbtns:last-child {
    background-color: red;
    border-radius: 5px;
}